.numTable{background-color: #0000b3; border-width: 2px; border-style: solid;}
.distinct1{background-color: #ccccff;}
.distinct2{background-color: #ffe6cc;}
.specialFont{font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;}